---
layout: page
---

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 my-2 text-justify conference-text">

        <h5>Bem-vindo à {{site.data.conference.short_title}}!</h5>

        <p class="lead">
            A {{site.data.conference.full_title}} será realizada no {{site.data.conference.location}} 
            da {{site.data.conference.location2}}, localizada em {{site.data.conference.country}},
            de {{site.data.conference.date}}.
        </p>
        {% if site.data.conference.description %}
            <p> {{site.data.conference.description}} </p>
        {% endif %}
        <!-- new -->
        <div class="card">
        <div class="card-block bg-white text-dark committee">
            <div class="d-flex">
                <!-- <img class="img-fluid mt-0 mb-0" src="{{ site.data.conference.sbc_path }}" alt="SBC">
                -->
                <img class="speaker-photo" src="{{site.data.conference.sbc_path}}" alt="SBC"> 
                <div class="align-self-center text-justify">
                    {% if site.data.conference.sbc_description %}
                        <p>{{site.data.conference.sbc_description}}</p>    
                    <!-- <p class="card-subtitle"><b>Cargo</b>: {{ speaker.post }}</p> -->
                    {% endif %}
                    {{content}}
                </div>
            </div>
        </div>
        </div>
        <!-- original 
        <p>
            {{site.data.conference.description}}
        </p>

        {{content}}
        -->
        {% if site.data.conference.social_media.insta_link %}
        <p>
            <img src="./assets/images/instagram1.png" width="50" alt="Instagram">    
            Siga-nos também no <a href="{{site.data.conference.social_media.insta_link}}"><strong>Instagram</strong></a>
        </p>
        {% endif %}
        <br>
        {% include contact-us.html %}

    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
        <!-- news -->
        {% include card-news.html %}
        <!-- ---- -->
        <!-- important dates -->
        {% include card-important-dates.html %}
        <!-- ---------------- -->
    </div>
</div>
{% include sponsors.html %}
{% include organizers.html %}
